* {
	margin: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "roboto", sans-serif
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem 1rem 2rem;
	background-color: black;
}

nav * {
	color: white;
}

nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > ul li {
	list-style: none;
	border-radius: 1.5rem;
	background-color: red;
	margin-right: 1rem;
	padding: 0.5rem 0.6rem 0.4rem 0.5rem;
}

nav >ul li a {
	font-weight: 700;
	font-size: 1.3rem;
}

nav > ul li:hover {
	background-color: white;
	transition: background-color 0.2s ease-in;
}

nav > ul li:hover a{
	color: black;
	transition: color 0.2s ease-in-out;
}
a {
    text-decoration: none;
}